.wrapper {
    width: 100%;
    text-align: center;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    padding: 5%;
    margin-top: 4em;
}
.container {
    display: flex;
    width: 100%;
    justify-content: left;
}
.event-img {
    width: 20%;
    margin-right: 80px;
}
.content {
    text-align: left;
}
.name-event {
    font-size: 18px;
    color: #414a57;
    padding-bottom: 24px;
}
.time-location {
    font-weight: 700;
    font-size: 1.6rem;
    color: #969696;
}
.icon {
    margin-right: 12px;
    color: #999;
}

//footer
.footer {
    margin-top: 30px;
    background-color: #77c47f;
    width: 100%;
    border-bottom: 4px solid #538959;
}
.option-item {
    width: auto;
}
.option {
    width: 100%;
    display: flex;
    flex-direction: column;
    color: var(--white);
    font-size: 12px;
    padding: 12px 40px;
    &:hover {
        color: #fff;
        background: #5f946b;
        transition: 0.2s ease-in-out 0s;
        border-radius: 0;
    }
}
