.wrapper {
    width: 100%;
    cursor: pointer;
    a {
        padding: 10px 16px;
        display: block;
        border-bottom: 1px solid #d6d4d4;
    }
}
.name {
    font-size: 14px;
    transition: all 0.15s ease-in-out 0s;
    text-transform: uppercase;
}

.time-location {
    color: rgb(96, 103, 120);
    font-size: 12px;
    margin-top: 4px;
}
