.location-list {
    width: 100%;
    padding: 0;
}
.item {
    padding: 10px 16px !important;
    font-size: 14px;
    position: relative;
    color: #666;
    &:hover {
        background-color: var(--sub-color) !important;
        color: var(--white) !important;
        transition: 0.2s linear;
    }
}
.location-btn {
    background-color: transparent;
    color: var(--white);
    position: relative;
}

.avatar {
    width: 32px;
    height: 32px;

    border-radius: 50%;
}
.avatar-btn {
    text-transform: uppercase;
    font-size: 12px;
    padding: 20px;
    &:hover {
        color: var(--sub-color) !important;
        transition: 0.2s linear;
    }
}
