@import 'normalize.css';
@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';
:root {
    --primary: rgb(45, 194, 117);
    --default-height: 76px;
    --sub-height: 48px;
    --padding-default: 36px;
    --font-size-default: 16px;
    --color-hide: rgb(245, 247, 252);
    --text-color: #333;
    --default-line-height: 22px;
    --white: #ffffff;
    --black: #111111;
    --red: #eb1212;
    --gray: #666666;
    --gray-white: #4a4a4a;
    --gray-light: #ccc;
    --sub-color: #90ba3e;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}
html {
    font-size: 62.5%;
}
input {
    line-height: 24px;
}
button {
    outline: none;
    border: none;
}
.dropdown-toggle::after {
    display: none !important;
}
a {
    text-decoration: none !important;
    color: inherit !important;
}

//custom slick
.button-bar {
    display: flex !important;
    vertical-align: middle;
    margin: auto;
    padding: 0;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 40px;
    width: 70px;
    text-align: center;
}

.button-bar li {
    list-style: none;
    cursor: pointer;
    display: inline-block;
    margin: 0 3px;
    padding: 0;
}

.button-bar li button {
    border: none;
    background: rgb(45, 194, 117);
    cursor: pointer;
    color: transparent;
    border-radius: 2px;
    background-color: rgba(45, 194, 117, 0.4);
    height: 4px !important;
    width: 24px !important;
}

.button-bar li.slick-active button {
    background-color: rgb(45, 194, 117);
}

.button-bar li button:hover,
.button-bar li button:focus {
    background: rgb(45, 194, 117);
}

.slick-slide img {
    border: 5px solid #fff;
    display: block;
    margin: auto;
}
h1,
h2,
h3,
h4,
p {
    margin-bottom: 0 !important;
}
