@import 'normalize.css';
:root {
    --primary: rgb(45, 194, 117);
    --default-height: 76px;
    --sub-height: 48px;
    --padding-default: 36px;
    --font-size-default: 16px;
    --color-hide: rgb(245, 247, 252);
    --text-color: #333;
    --default-line-height: 22px;
    --white: #ffffff;
    --black: #111111;
    --red: #eb1212;
    --gray: #666666;
    --gray-white: #4a4a4a;
    --gray-light: #ccc;
    --sub-color: #90ba3e;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}
html {
    font-size: 62.5%;
}
input {
    line-height: 24px;
}
button {
    outline: none;
    border: none;
}
.dropdown-toggle::after {
    display: none !important;
}
a {
    text-decoration: none !important;
    color: inherit !important;
}
