@import 'normalize.css';
:root {
    --primary: rgb(45, 194, 117);
    --default-height: 76px;
    --padding-default: 36px;
    --font-size-default: 16px;
    --color-hide: rgb(245, 247, 252);
    --text-color: rgb(42, 45, 52);
    --white: #ffffff;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}
html {
    font-size: 62.5%;
}
input {
    line-height: 24px;
}
