.wrapper {
    display: flex;
    align-items: center;
    padding: 20px;
}
.logo {
    max-width: 135px;
    max-height: 135px;
}
.content {
    margin-left: 2rem;
}
.name {
    color: var(--black);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
}
.description {
    font-size: 14px;
    color: var(--text-color);
}
.contact-btn {
    color: var(--sub-color);

    border: 1px solid var(--sub-color);
    background: transparent;
    padding: 8px 12px;
    &:hover {
        background-color: #ecf3da;
    }
}
