.wrapper {
    width: 100%;
    height: fit-content;
}
.container {
    display: flex;
    height: 100%;
    background-color: var(--white);
}
.content {
    flex: 1;
    background-color: var(--white);
}
