.wrapper {
    width: 100%;
    height: 100%;
    background-color: #e1e1e1;
    padding: 30px;
}
.header {
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 32px;
}
.block-infor {
    width: 100%;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 30px;
    background-color: #ffffff;
    align-items: center;
}
.label {
    white-space: nowrap;
    padding-bottom: 5px;
    display: flex;
    font-size: 15px;
    padding-right: 16px;
    font-weight: 500 !important;
    &::after {
        content: ' *';
        color: red;
        font-weight: bold;
    }
}
.bound-input {
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 5px 15px;
    background-color: #f5f7fd;
    width: 100%;
    height: 32px;
    font-size: 15px;
}

.table .row {
    padding: 15px 0;
}

.title {
    font-size: 24px;
    color: #414a57;
    margin-bottom: 10px;
}
.save-btn {
    display: block;
    width: 200px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-left: auto;
    padding: 7px;
    background-color: #58ca58;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
}
