.wrapper {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: row;
}
//sidebar
.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.sidebar {
    width: 30%;
    height: 100%;
    position: fixed;
    float: left;
    // position: fixed;
    // top: 0;
    // left: 0;

    background-color: #303b46;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
    background-color: rgba(0, 0, 0, 0.2);
    height: 60px;
    button {
        color: var(--white);
        background-color: transparent;
        font-size: 15px;
        font-weight: 600;

        &:hover {
            background-color: transparent;
        }
    }
}
.avatar {
    margin-left: 16px;
}
.infor-item {
    background-color: transparent;
    border: none;
    color: var(--white) !important;
    font-size: 16px;
    font-weight: 600;
    padding: 24px 40px !important;
    &:hover {
        background: #dadada;
        transition: all 0.2s ease-in-out 0s;
        color: #27313d !important;
    }
}
//container
.container {
    width: 70%;
    margin-left: 30%;
    overflow: auto;
}

.active {
    background: #dadada;
    transition: all 0.2s ease-in-out 0s;
    color: #27313d !important;
}
