.wrapper {
    padding: 16px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    color: rgb(42, 45, 52);
    align-items: center;
    text-align: center;
    cursor: pointer;
    position: relative;
    border-top: 10px solid rgb(245, 247, 252);
}
.title {
    padding-left: 12px;
}
