.wrapper {
    // margin: 10px auto;
    height: auto;
    max-width: 100%;
    box-sizing: border-box;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: #fff;
    border-radius: 10px;
    border: 1.5px solid rgb(231, 237, 249);
    padding: 20px;
    overflow: hidden;
    // overflow: visible;
}
.login-button {
    background: white;
    // color: white;
    &hover {
        background: rgb(231, 237, 249);
    }
    // margin-bottom: 30px;
}
.header {
    display: flex;
    margin-bottom: 15px;
    margin-top: 10px;
    align-items: center;
}
.chevron-icon {
    height: 16px;
    flex-shrink: 0;
}
.title {
    flex: 1;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}
.forgotpass-button {
    background: transparent;
    margin-bottom: 20px;
    margin-top: -10px;
}
.error-errors {
    background: rgb(255, 216, 216);
    border-radius: 10px;
    margin: auto;
    margin-bottom: 10px;
    height: auto;
}
.error-label {
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 13px;
    color: rgb(241, 105, 105);
    font-weight: 500;
}
.success-wrapper {
    background: rgb(255, 216, 216);
    border-radius: 10px;
    margin: auto;
    margin-bottom: 10px;
    height: auto;
}
.success-label {
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 13px;
    color: rgb(241, 105, 105);
    font-weight: 500;
}
