.wrapper {
    height: var(--default-height);
    display: flex;
    align-items: center;
    padding: 0 var(--padding-default);
    border-bottom: 2px solid rgb(230, 235, 245);
}

.logo {
    height: 44px;
    width: 44px;
    border-radius: 10px;
    margin-right: 60px;
}

//action
.action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 360px;
    margin-left: auto;
}
.infor-icon {
    width: 24px;
    height: 24px;
    color: var(--primary);
}
.avatar {
    width: 32px;
    height: 32px;
}

.search-layout {
    position: relative;
    height: 44px;
}

//tipy
.options-tippy {
    position: relative;
}
.tippy-wrapper {
    box-shadow: rgba(42, 45, 52, 0.16) 0px 4px 20px;
    border-radius: 8px;
    z-index: 1;
    background: var(--white);
    width: 324px;
    cursor: auto;
}
.infor-item + .infor-item {
    margin-top: 10px;
}
