.wrapper {
    width: 40%;
    > button {
        background-color: transparent;
        width: 100%;
        padding: 10px 8px 10px 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--white);
        border: none;
        border-radius: 0px;
        border-right: 1px solid #eee;
        &:active {
            background-color: transparent !important;
        }
        &:hover {
            background-color: transparent;
            border-right: 1px solid #eee !important;
        }
        span {
            margin-left: 12px;
            color: #666;
            font-size: 1.4rem;
        }
        .icon {
            color: #ccc;
        }

        .suf-icon {
            background-color: transparent;
        }
    }
}
.item {
    padding: 8px 10px;
    &:hover {
        span {
            color: var(--white);
        }
        background-color: #90ba3e !important;
    }
}
.btn-item {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 1.4rem;
    padding: 4px 8px;
    border: 1px solid #ccc;
    color: #666;
    border-radius: 4px;
}
.close-btn {
    margin-right: 4px;
    &:hover {
        color: #666;
    }
}

.custom-date {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
